@font-face{
    font-family: 'moonhouse';
    src:
        url('moonhouse/moonhouse.ttf');
}

@font-face{
    font-family: 'bench-grinder-tilting';
    src:
        url('bench-grinder-titling/bench\ grinder\ titling.ttf');
}

@keyframes slideFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideFromDown{
    0%{
        transform: translateY(120%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mahdi-logo{
    animation: 0.75s ease-out 0s 1 slideFromLeft;
    top: 50%
}

.mahdi-logo a{
    text-decoration:none;
    color:black;
    font-family: 'moonhouse', sans-serif;
    font-size: 45px;
}

.top-menu{
    animation: 0.75s ease-out 0s 1 slideFromRight;
}

.top-menu a{
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    color: black;
    font-size: 22px;
    margin: 40px;
    transition: transform .2s;
}

.top-menu a:hover{
    color:#a6a6a6;
    transition: .5s ease;
    transform: scale(1.5);
}

body{
    background-color: white;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 12%;
    background-color: black;
    color: white;
    text-align: center;
}

#phone-sym{
  margin: 0;
  left:9%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#phone-sym p{
    float: right;
    margin: 7px;
}

#mail-sym{
  margin: 0;
  left:40%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mail-sym p{
    float: right;
    margin: 7px;
}


#ig-sym{
  margin: 0;
  left:71%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ig-sym p{
    float: right;
    margin: 7px;
}

.footer p{
    font-family: forma-djr-banner, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

#resume-title{
    font-family: forma-djr-banner, sans-serif;
    font-size: 40px;
}

#info-p{
    font-family: arial, sans-serif;
    font-size: 17px;
    width: 75%;
}

#resume-div{
    animation: 2s ease-out 0s 1 fadeIn;
    overflow: hidden;
}

#first-p{
    font-family: arial, sans-serif;
    font-size: 15px;
}

#education{
    position: absolute;
    left:10%;
}



#education p{
    font-family: forma-djr-banner, sans-serif;
    display: inline-block;
}

.subject-header{
    float: left;
}

.subject-header h2{
    display: inline-block;
    margin: 10px;
}

.subject-header img{
    display: inline-block;
}

.subject-header hr{
    width: 250%;
}

#experience{
    position: absolute;
    left: 10%;
}

#education-p{
    display: inline-block;
}

#defjam-block{
    font-family: forma-djr-banner, sans-serif;
    position: relative;
    top: 70px;
}

