@font-face{
    font-family: 'moonhouse';
    src:
        url('moonhouse/moonhouse.ttf');
}

@font-face{
    font-family: 'bench-grinder-tilting';
    src:
        url('bench-grinder-titling/bench\ grinder\ titling.ttf');
}

@keyframes slideFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideFromDown{
    0%{
        transform: translateY(120%);
    }
    100%{
        transform: translateY(0%);
    }
}

.mahdi-logo{
    animation: 0.75s ease-out 0s 1 slideFromLeft;
    top: 50%
}

.mahdi-logo a{
    text-decoration:none;
    color:black;
    font-family: 'moonhouse', sans-serif;
    font-size: 45px;
}

.top-menu{
    animation: 0.75s ease-out 0s 1 slideFromRight;
}

.top-menu a{
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    color: black;
    font-size: 22px;
    margin: 40px;
}

.top-menu a:hover{
    color:#a6a6a6;
    transition: .5s ease;
}

body{
    background-color: white;
}

#mahdi-about-p{
    width: 50%;
    height: auto;
    position: absolute;
    left: 35%;
    font-family: forma-djr-banner, sans-serif;
    font-size: 22px;
    letter-spacing: 1.2px;
}

#mahdi-about-img{
    position: absolute;
    height: auto;
    left: 10%;
}

#mahdi-about{
  border-radius: 25px;
  border: 1.2px solid #5e5e5e;
  padding: 20px;
  width: 1100px;
  height: 300px;
  position: absolute;
  left: 5%;
  animation: 0.75s ease-out 0s 1 slideFromDown;
}

#frontpage-hr{
    width: 85%;
    left:7%;
    position: absolute;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: black;
    color: white;
    text-align: center;
}

#phone-sym{
  margin: 0;
  left:9%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#phone-sym p{
    float: right;
    margin: 7px;
}

#mail-sym{
  margin: 0;
  left:40%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mail-sym p{
    float: right;
    margin: 7px;
}


#ig-sym{
  margin: 0;
  left:71%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ig-sym p{
    float: right;
    margin: 7px;
}

.footer p{
    font-family: forma-djr-banner, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

