@font-face{
    font-family: 'moonhouse';
    src:
        url('moonhouse/moonhouse.ttf');
}

@font-face{
    font-family: 'bench-grinder-tilting';
    src:
        url('bench-grinder-titling/bench\ grinder\ titling.ttf');
}

@keyframes slideFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideFromDown{
    0%{
        transform: translateY(120%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mahdi-logo{
    animation: 0.75s ease-out 0s 1 slideFromLeft;
    top: 50%
}

.mahdi-logo a{
    text-decoration:none;
    color:black;
    font-family: 'moonhouse', sans-serif;
    font-size: 45px;
}

.topmenu-container{

}

.top-menu{
    animation: 0.75s ease-out 0s 1 slideFromRight;
    text-align: center;
    display: inline-flex;
}

.top-menu a{
    display: inline-block;
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    color: black;
    font-size: 22px;
    margin: 40px;
    transition: transform .2s;
}

.top-menu button{
    display: inline-block;
    background-color: transparent;
    border: none;
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    color: black;
    font-size: 22px;
    margin: 40px;
    transition: transform .2s;
}

.top-menu a:hover{
    color:#a6a6a6;
    transition: .5s ease;
}

.top-menu button:hover{
    color:#a6a6a6;
    transition: .5s ease;
}

.dropdown-case-studies:hover .dropdown-content{
    display: block;
}

.dropdown-case-studies{
    margin: 0;
    float: left;
    display: inline-block;
} 

.dropdown-content{
    display: none;
    position: relative;
    min-width: 100px;
    float: none;
  }

.dropdown-content a{
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    display: block;
    color: black;
    font-size: 22px;
    margin: 0;
    text-align: center;
}

.dropdown-content a:hover {
    color:#a6a6a6;
    transition: .5s ease;
}

body{
    background-color: white;
}

#mahdi-about-p{
    width: 50%;
    height: auto;
    position: absolute;
    left: 35%;
    font-family: forma-djr-banner, sans-serif;
    font-size: 22px;
    letter-spacing: 1.2px;
}

#mahdi-about-img{
    position: absolute;
    height: auto;
    left: 10%;
}

#mahdi-about{
  border-radius: 25px;
  border: 1.2px solid #5e5e5e;
  padding: 20px;
  width: 1100px;
  height: 300px;
  position: absolute;
  left: 5%;
  animation: 0.75s ease-out 0s 1 slideFromDown;
}

.casestudy-blurb{
  border-radius: 25px;
  border: 1.2px solid #5e5e5e;
  padding: 20px;
  width: 1100px;
  height: 275px;
  position: absolute;
  left: 5%;
  text-align: center;
}

.casestudy-blurb a{
    font-family: 'bench-grinder-tilting', sans-serif;
    text-decoration:none;
    color: black;
    font-size: 20px;
}

.casestudy-blurb a:hover{
    color:#a6a6a6;
    transition: .5s ease;
}

.casestudy-p{
    font-family: forma-djr-banner, sans-serif;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.global-hr{
    width: 85%;
    left:7%;
    position: absolute;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}

#phone-sym{
  margin: 0;
  left:9%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#phone-sym p{
    float: right;
    margin: 7px;
}

#mail-sym{
  margin: 0;
  left:40%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mail-sym p{
    float: right;
    margin: 7px;
}


#ig-sym{
  margin: 0;
  left:71%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ig-sym p{
    float: right;
    margin: 7px;
}

.footer p{
    font-family: forma-djr-banner, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

#resume-title{
    font-family: forma-djr-banner, sans-serif;
    font-size: 40px;
}

#info-p{
    font-family: arial, sans-serif;
    font-size: 17px;
    width: 75%;
}

#resume-div{
    animation: 2s ease-out 0s 1 fadeIn;
    overflow: hidden;
}

#first-p{
    font-family: arial, sans-serif;
    font-size: 15px;
}

#education{
    position: absolute;
    left:10%;
}

#education hr{
    width: 120%;
}

#education p{
    font-family: forma-djr-banner, sans-serif;
}

.subject-header{
    float: left;
}

.subject-header h2{
    display: inline-block;
    margin: 10px;
}

.subject-header img{
    display: inline-block;
}

#experience{
    position: absolute;
    left: 10%;
}

#zillion-videos{
    text-align: center;
    left:25%;
    top: 90%;
    position:absolute;
}

.imgvid-header{
    font-family: 'moonhouse', sans-serif;
    font-size: 45px;
}

#zillion-flicks{
    text-align: center;
    left: 3%;
    top: 285%;
    position: absolute;
}

#ramed-videos{
    text-align: center;
    left:-1%;
    top: 90%;
    position:absolute;
}

#ramed-flicks{
    text-align: center;
    left:-1%;
    top: 390%;
    position:absolute;
}

#defjam-video{
    text-align: center;
    left:17%;
    top: 90%;
    position:absolute;
}







